
{% extends "./index.html" %}
{% block depthod %}
{% load static %}
<style type="text/css">
    td,thead{
        text-align: center;
    }

</style>
<div class="container-fluid">
    <div class="bg-gradient-primary shadow-primary border-radius-lg py-2 pe-1">
        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Departments</h4>
    </div>

    <div class="table-responsive">
        <table class="table align-items-center">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Departments</th>
                    <th>Department ID</th>
                    <th>Department HOD</th>
                    <th>HOD ID</th>
                    <th>Actions</th>  <!-- New column for actions (Edit and Delete) -->
                </tr>
            </thead>
            {% for i,j in dept %}
            <tr>
              <td>{{j}}</td>
              <td>{{i.branch}}</td>
              <td>{{i.dept_id}}</td>
              <td>{{i.username}}</td>
              <td>{{i.Biometricid}}</td>
                <td>
                  <a href="{% url 'edit_department' i.id %}" class="btn btn-primary btn-sm">Edit</a>
                  <a href="{% url 'delete_hod' i.id %}" class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


{% endblock %}